////////////////////////////////////default settings/////////////////////////////////
*{
    margin: 0;
    padding: 0;
}

////////////////////////////////////project-banner////////////////////////////////////
.project-banner{
    img{
        width: 600px;
        margin: inherit;
        display: block;
        border-radius: 5px;
        padding: 1% 0;
    }
}