//import Roboto 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

//creating variables for fonts, sizes and positioning
$primary-font: system-ui;
$primary-background: #01203e;
$primary-color: #f5f3f3ef;
$primary-weight: 300;

$span-font: system-ui;
$span-color: #d2d2d2ef;


////////////////////////////////////default settings/////////////////////////////////
*{
    margin: 0;
    padding: 0;
}

////////////////////////////////////project-banner////////////////////////////////////
.project-banner{
    img{
        width: 600px;
        margin: inherit;
        display: block;
        border-radius: 5px;
        padding: 1% 0;
    }
}

////////////////////////////////////navigation////////////////////////////////////
nav{
    .navigation{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        background: $primary-background;

        .left{
            font-family: $primary-font;
            color: $primary-color;
            
            h1{
                font-weight: $primary-weight;
            }
            
            span{
                color: $span-color;
                font-weight: 700;

            }
        }
    }
}