@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #01172c, #010f1c);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.project-banner img {
  width: 600px;
  margin: inherit;
  display: block;
  border-radius: 5px;
  padding: 1% 0;
}

nav .navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background: #01172c;
  background: transparent;
  min-height: 100px;
}
nav .navigation .left {
  font-family: system-ui;
  color: #ffffff;
}
nav .navigation .left h1 {
  font-weight: 300;
  font-size: 25px;
  transition: 0.6s ease-in-out;
  cursor: pointer;
}
nav .navigation .left span {
  color: rgba(255, 251, 251, 0.937254902);
  font-weight: 700;
  transition: 0.6s ease-in-out;
}
nav .navigation .left span:hover {
  color: #6565ca;
  transition: 0.6s ease-in-out;
}
nav .navigation .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 325px;
}
nav .navigation .right li {
  list-style-type: none;
  font-family: system-ui;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  transition: 0.6s ease-in-out;
  font-weight: bold;
}
nav .navigation .right li:hover {
  color: #6565ca;
  transition: 0.6s ease-in-out;
}
nav .navigation .right .night-light-mode-icon {
  background: rgba(255, 251, 251, 0.937254902);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8823529412);
  border-radius: 45px;
  width: 40px;
  height: 35px;
  display: flex;
  align-items: center;
  transition: 0.6s ease-in-out;
  cursor: pointer;
}
nav .navigation .right .night-light-mode-icon img {
  width: -webkit-fill-available;
  height: 15px;
}
nav .navigation .right .night-light-mode-icon:hover {
  background: rgba(101, 101, 202, 0.9921568627);
  transition: 0.6s ease-in-out;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
}
.hero-section p {
  font-family: system-ui;
  color: #ffffff;
  font-weight: 400;
  font-size: 23px;
  text-align: center;
}
.hero-section p span {
  color: rgba(255, 251, 251, 0.937254902);
  font-weight: 700;
  font-size: 28px;
}
.hero-section p .purple-text {
  color: #6565ca;
  background: -webkit-linear-gradient(45deg, #6565ca, #4343f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  text-align: center;
  font-size: 38px;
}
.hero-section .text {
  background: -webkit-linear-gradient(45deg, #ffffff, rgb(202, 202, 202));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-section .cv-container {
  background: #ffffff;
  border-radius: 10px;
  border-radius: 5px;
  width: 220px;
  height: 55px;
  display: flex;
  align-items: center;
  transition: 0.9s ease-in-out;
  cursor: pointer;
  margin-top: 25px;
}
.hero-section .cv-container a {
  text-decoration: none;
  font-family: system-ui;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  color: rgb(28, 28, 28);
  font-size: 18px;
  align-self: center;
  margin: auto;
  transition: 0.4s ease-in-out;
}
.hero-section .cv-container:hover {
  background: #4343f4;
  transition: 0.4s ease-in-out;
}
.hero-section .cv-container:hover a {
  color: #ffffff;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 65px;
  padding-bottom: 90px;
}
.icon-container .top p {
  font-family: system-ui;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding-bottom: 21px;
}
.icon-container .icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 485px;
  margin: auto;
}
.icon-container img {
  width: 47px;
  height: 47px;
  cursor: pointer;
  filter: opacity(1.5) invert(100%) drop-shadow(0 0 0 rgba(255, 255, 255, 0));
  transition: 0.4s ease-in-out;
}
.icon-container img:hover {
  filter: opacity(0.18) invert(100%) drop-shadow(0 0 0 #6565f6);
  transition: 0.4s ease-in-out;
}

.project-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 25px;
  width: 900px;
  margin: auto;
}
.project-card .left img {
  width: 420px;
  height: auto;
  border-radius: 11px;
}
.project-card .right h1 {
  color: rgba(255, 251, 251, 0.937254902);
  font-weight: 700;
  font-size: 28px;
  font-family: system-ui;
  text-align: left;
  padding-left: 20px;
}
.project-card .right h4 {
  font-family: system-ui;
  color: #ffffff;
  font-weight: 400;
  font-size: 10px;
  text-align: left;
  padding-bottom: 3px;
  padding-left: 20px;
}
.project-card .right p {
  font-family: system-ui;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  padding-bottom: 21px;
  padding-left: 20px;
}

.featured-projects-language-container {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  padding-left: 20px;
}
.featured-projects-language-container div {
  background: #ffffff;
  border-radius: 10px;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 27px;
  display: flex;
  align-items: center;
  transition: 0.9s ease-in-out;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
  background: #4343f4;
}
.featured-projects-language-container div h3 {
  color: black;
  font-size: 13px;
  text-align: center;
  margin: auto;
  font-family: system-ui;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */