//import Roboto 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

//creating variables for fonts, sizes and positioning
$primary-font: system-ui;
$primary-background: #01203e;
$primary-color: #ffffff;
$primary-weight: 300;

$span-font: inherit;
$span-color: #fffbfbef;


////////////////////////////////////default settings/////////////////////////////////
*{
    margin: 0;
    padding: 0;
}

////////////////////////////////////project-banner////////////////////////////////////
.project-banner{
    img{
        width: 600px;
        margin: inherit;
        display: block;
        border-radius: 5px;
        padding: 1% 0;
    }
}

////////////////////////////////////navigation////////////////////////////////////
nav{
    .navigation{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        background: $primary-background;
        min-height: 62px;

        .left{
            font-family: $primary-font;
            color: $primary-color;
            
            h1{
                font-weight: $primary-weight;
                cursor: pointer;
            }
            
            span{
                color: $span-color;
                font-weight: 700;

            }
        }

        .right{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            width: 190px;

            li{
                list-style-type: none;
                font-family: $primary-font;
                color: $primary-color;
                font-size: 17px;
                cursor: pointer;
                transition: .9s ease-in-out;
            }

            li:hover{
                color: #6565ca;
                transition: 1ms ease-in-out;
            }
        }
    }
}